@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content animate-panel">
    <div class="row menu-row">
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS001">
                            <h2 class="m-b-xs">Administración de páginas.</h2>
                            <div class="m">
                                <i class="pe-7s-browser fa-5x"></i>
                            </div>
                            <p class="small">
                                Configuración de páginas en el sistema.<br /><br />
                            </p>
                            <br />
                        </a>
                        <a href="ADMS001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS002">
                            <h2 class="m-b-xs">Roles del sistema </h2>
                            <div class="m">
                                <i class="pe-7s-user fa-5x"></i>
                            </div>
                            <p class="small">
                                Configuración de roles en el sistema.
                            </p>
                            <br />
                        </a>
                        <a href="ADMS002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS003">
                            <h2 class="m-b-xs">Roles de pagina</h2>
                            <div class="m">
                                <i class="pe-7s-photo-gallery fa-5x"></i>
                            </div>
                            <p class="small">
                                Asignar relación entre roles y paginas del sistema.
                            </p>
                            <br />
                        </a>
                        <a href="ADMS003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS004">
                            <h2 class="m-b-xs">Roles de usuario</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Asignación de roles a usuarios del sistema.
                            </p>
                            <br />
                        </a>
                        <a href="ADMS004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>