@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content animate-panel">
    <div class="row menu-row">
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS006">
                            <h2 class="m-b-xs">Editar Perfil <br/><br/></h2>
                            <div class="m">
                                <i class="pe-7s-id fa-5x"></i>
                            </div>
                            <p class="small">
                                Editar Información personal de usuario.<br /><br />
                            </p>
                            <br />
                        </a>
                        <a href="ADMS006" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS001">
                            <h2 class="m-b-xs">Administración de páginas.</h2>
                            <div class="m">
                                <i class="pe-7s-browser fa-5x"></i>
                            </div>
                            <p class="small">
                                Configuración de páginas en el sistema.<br /><br />
                            </p>
                            <br/>
                        </a>
                        <a href="ADMS007" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>